body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 10px 10px 50px 50px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 22rem;
  overflow: hidden;
  color: hsl(202, 11%, 29%);
}

input {
    width: 100%;
    padding: 50px;
    margin-bottom: 1px;
    font-size: 18px;
    box-sizing: border-box;

background: hsl(202, 11%, 29%);
  color: hsl(255, 100%, 100%);
  font-size: 3rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 0.75rem;
  text-align: end;
}

.buttons {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background: hsl(255, 100%, 100%);
    padding: 0.5rem;

  
}

button {
    background: hsl(210, 25%, 95%);
  border: none;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.25rem;
  padding-inline-start: 1.25rem;
  font-size: 1.5rem;
  /* Playful Styles */
  inline-size: 70px;
  block-size: 70px;
  margin: 0.25rem;
  border-radius: 40px;

}


.button:active,
.button:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
  outline: none;
}



.calculator__key--enter {

    background: hsl(357, 100%, 72%);
    height: auto;
    grid-column: 5 / 4;
    grid-column: 3/ span 2;
}

.calculator__key--operator {
    background: hsl(208, 25%, 86%);
  }
  .calculator__key--operator:active {
    background: hsl(208, 24%, 80%);
  }